.packages{
   background:  0 0/cover #f8f9f9
}

.packages button{
    background-color: #bf3d1a;
    color: #fff;
    border-radius: 0;
    height: 30px;
}

.pheader,
.sub-heading{
    font-weight: 700;
    font-size: 18px;
    margin: 20px 0 10px;
    font-family: 'Proxima Nova';
}

.packages .designanddrawing,
.packages .structure,
.packages .Kitchen,
.packages .Bathroom{
    font-size: 14px;
    padding: 10px;
    line-height: 0.3;
    background-color: #fff;
}



