body{
    margin:0;
    padding:0;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-variant: tabular-nums;
}

.bg-top{
    /* background-color: #022d5d; */
    color:#fff;
    background-color:#000;
}

.bg-top .navbar-brand{
    color:white
}
.navbar{
    box-shadow:-7px 10px 8px 0 rgba(0, 0, 0, 0.45);
    background-color: #fff !important;
}

.navbar-toggler{
    color:#000 !important
}

#navbarNav li{
    font-weight: bold;
    padding:5px;
}



.navbar-dark .navbar-nav .nav-link{
    
    color:#000 !important;
}



.carousel-inner img {
    width: 100%;
    height:550px;
  }



.centered{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    opacity: 0.8;
    color: #000;
    background: #fff;
}

.top-navbar{
    position: relative;
    z-index: 1050;
}

.dropdown button{
    background-color: #bf3d1a;
}

.dropdown button:hover{
    background-color: #bf3d1a;
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: #ccc;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.aboutus h1
{
    color:#022d5d;
}

.howitworks .rounded i{
    color:#bf3d1a
}

.howitworks .rounded p{
    color:#022d5d;
    font-weight: bold;
}

.aboutus p
{
    text-align: center;
    font-weight: 600;
}
.aboutus .card{
    min-height: 310px;
}

.aboutus h5,
.aboutus h1,
.howitworks h1,
.gallery h1,
.contactus h1,
.contactus h6{
    color:#bf3d1a;
}

.aboutus i{
    padding-left: 75px;
}

.card p,
.card h5,
.aboutus i{
    color: #fff !important;

}

#bpkg:hover,
#bpkg1:hover,
#bpkg2:hover,
#bpkg3:hover
{
    cursor: pointer !important;
}

/* .aboutus i:hover{
    transition: all .4s ease-in-out;
    transform: rotate(1turn) scale(1.2)
} */




.section-divider{
    width: 50px;
    height: 3px;
    background: #022d5d;;
    margin: 0 auto 20px;
}

.card{
    padding:8px;
    min-height: 100px;
    /* background: linear-gradient(rgba(14, 15, 15, 0.5), rgb(2, 2, 2)), url("../images/td.jpg");background-size: 100% 100%;color: black !important; */
}




.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.aboutus .card:hover{
    cursor: pointer;
}

.howitworks{
    background: url('../images/bg1-hiw.jpg');
    height:450px;
}

.howitworks-divider{
    width: 50px;
    height: 3px;
    background: #022d5d;
}

.cpackage-divider{
    width: 50px;
    height: 3px;
    background: #bf3d1a;
    margin: 0 auto 20px;
}

.cpackages{
    height:430px;
    background-color: black;
    color:white !important;
}

.cpackages .col-md-4{
    display: inline-block;
    margin-left:-4px;
  }



.cpackages .card:hover{
    box-shadow: 12px 12px 16px 0 rgba(0,0,0,0.2);
    cursor: pointer;
}


 
.howitworks .rounded{
    border:5px solid #bf3d1a;
    border-radius: 50% !important;
    padding:30px;

}

.contactus{
    background-color: #f7f7f7;
    height:650px;
}

.contactus i{
    padding:10px 120px;
    color: #022d5d;
}
.contactus h6{
    padding:15px 110px;
    text-transform: capitalize;
}


.gallery img{
    height:300px !important;
    width: 100%;
}
footer{
    background-color: black;
}
footer h4,
footer p{
    color:White
}

.interior .card{
    min-height: auto !important;
    padding: 10px;
    margin: 35px;
    background-color: #bf3d1ab0;
}

.interior .card i{
    font-size: 22px;
    color: #bf3d1ab0;
}

.interior .card-header{
    border: none;
    background-color: #f9f9f9;
    
}

.interior .card-header a{
    border: none;
   color: #bf3d1ab0;
   font-weight: bold;
   padding: 2px 0px 2px 5px;
    
}
.interior .card-body{
    border: none;
    background-color: #fff;
}

.about{
    /* background: url("../images/eas.jpg");
    background-size: cover;
    height:400px; */

    /* background:linear-gradient(rgba(255,255,255,.9),rgba(255,255,255,.9)) 0 0/cover,url('../images/eas.jpg') center center/cover fixed; height:580px */

}

.forms{
    /* background: url("../images/eas.jpg");
    background-size: cover;
    height:400px; */

    background:linear-gradient(rgba(255,255,255,.9),rgba(255,255,255,.9)) 0 0/cover,url('../images/and.jpg') center center/cover fixed; height:720px

}

/* .plots{
    background:linear-gradient(rgba(255,255,255,.9),rgba(255,255,255,.9)) 0 0/cover,url('../images/plots.jpeg') center center/cover fixed; height:580px
} */

.interior{
    background:linear-gradient(rgba(255,255,255,.9),rgba(255,255,255,.9)) 0 0/cover,url('../images/plots.jpeg') center center/cover fixed;
}


#name-msg,
#phone-msg ,
#mail-msg{
  color: red;
}
@media only screen and (max-width: 768px){
    .bg-top .email{
        padding:0px 140px;
        margin-top: -20px;
    }

    .bg-top .dropdown{
        padding: 0px 10px;
    margin-bottom: 10px;
    }

    #demo h1{
        font-size: 30px;
        color:#000;
        /* padding-left: 30px; */
    }

    .aboutus .col-md-3{
        padding:15px !important;
    }
    .aboutus .col-md-3 i{
        padding-left:100px !important;
    }

    .cpackages{
        height: auto !important;
        padding-bottom: 10px;
    }

    .cpackages .col-sm-3{
        padding-top: 10px;
    }


    .howitworks {
        height: auto !important;
        background: #f7f7f7 !important;
        margin:15px 0px;
    }

    .howitworks .col-sm-2{
        padding: 15px 30px;
    }

    .gallery .col-md-4{
        padding-top: 15px;
    }

    .contactus,
    .footer-bottom {
        height:auto;
    }
}


@media only screen and (min-width: 768px){
    .contactus .line{
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
    }

    /* .bg-top .email{
       display: none;
    } */
}

